@charset "UTF-8";

@font-face {
  font-family: 'nunito';
  src: url(fontes/Nunito/Nunito-VariableFont_wght.ttf);
}
@font-face {
  font-family:'pacifico' ;
  src: url(fontes/Pacifico/Pacifico-Regular.ttf);
}

:root{
  --swiper-theme-color:#BF2121

}
*{ 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  
  transition: 0.2s linear;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7em;
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  width: 0.8rem;
}
html::-webkit-scrollbar-track {
  background-color: #f2f2f2;
}
html::-webkit-scrollbar-thumb {
  background-color: #f2f2f2;
  border-radius: 5rem;
}
/*header start*/
.header {
  top: 0;
  right: 0;
  left: 0;
  background-color:transparent;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.4rem 7%;
  z-index: 999;
}

.block-logo {
  margin-top: 8rem;
  margin-left: 5rem;
  display: flex;
  align-items: center;
}
.logo{
  margin-top: -3.5rem;
    height: 4rem;
    margin-bottom: 0.6rem;
} 
.logo img{
  margin-top: -6rem;
  width: 25rem;
}



.navbar a {
    font-family:'nunito',sans-serif;
    font-size: 2rem;
    margin-right: 6rem;
    color: #F2EEE9;
    font-weight: bold;
  
}

.navbar a:hover {
  color: #F2EEE9;
  border-bottom: 0.1em solid #F2EEE9;
  padding-bottom: 0.4em;
}
.icon i {
    font-size: 2rem;
    margin-right: 2rem;
    color: #590A27;
    cursor: pointer;

}
#menu-bar{
    display: none;
}
/*header end*/
/*main star*/
.home{
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(background/background\ main\ 4.png) no-repeat;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size:cover ;
  background-position: center center;


}
.homeconteudo{
  width: 50%;
  float:left;
  text-align: center;
  padding: 4rem;
}
.homeconteudo h2{
  font-family: 'pacifico';
  font-size: 7rem;
  font-weight: 500;
  margin-bottom: 2rem;
  line-height: 7rem;
  color: #F2EEE9;
  text-shadow:0px 4px 4px rgba(000,000,000,0.25);

}
.homeconteudo p{
  font-family: 'nunito',sans-serif;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 2rem;
  margin-bottom: 2rem;
  color: #F2EEE9;
}
.home-btn{
  height: 3rem;

}
.home-btn button{
  font-size: 2rem;
  font-family: 'nunito',sans-serif;
  font-weight:bold;
  background-color:#F2EEE9;
  color: #BF2424;
  border-radius: .7rem;
  padding: .7rem 2.4rem;
  cursor: pointer;
  box-shadow: 0px 3px 3px rgba(000,000,000,0.25);
  
}
.home-btn button:hover{
  font-size: 2.2rem;

}
section{
  padding: 2rem 7%;
}
.p-header{
  font-family: 'nunito',sans-serif;
  text-align: center;
  margin-bottom: 3rem;
  font-size: 2.6rem;
  color: #590A27;
}
.produto .p-row{
  margin-bottom: 4rem;
  display: flex;
  align-items: center;
  
}
.produto .p-row .box{
  font-family: 'nunito',sans-serif;
  display: flex;
  flex-direction:column;
  width: 50%;
  background-color: #F2EEE9;
  align-items: center;
  text-align: center;
  padding: 2rem;
  gap: 1.5rem;
  border-radius: 3rem;
  margin-right: 3rem;
  box-shadow: 0px 2px 2px rgba(000,000,000,0.25);

}
.produto .p-row .img img{
  height: 100%;
  width: 100%;
}
.produto .p-row .img img:hover{
 transform: scale(1.1);
}
 .p-cont{
  margin-bottom: 4rem;
}
 .p-cont h3{
  
  font-size: 4rem;
  color: #590A27;
}
 .p-cont p{
  font-size: 1.5rem;
  line-height: 1.6rem;
  color: #590A27
}
 .p-pedido{
  height: 3rem;
  margin-top: 2rem;
}
 .p-pedido button{
  font-family: 'nunito';
  font-weight: bold;
  font-size: 1.8rem;
  background-color: #bf2121;
  color: white;
  border-radius: .7rem;
  padding: .7rem 2rem;
  cursor: pointer;
}
 .p-pedido button:hover{
  font-size: 2rem;
}

/*main end*/
.siga{

  margin-block: 4rem;
  align-items: center;
  justify-content: center;
  display: flex;
  font-family: 'nunito',sans-serif;

}
/* siga nas redes start*/
.siga p{
  font-size: 3rem;
  font-weight: bold;
    color: #bf2424;
}
.siga a{
  margin-left: 2rem;
  
  
}
.siga button{
  justify-content: center;
  align-items: center;
  color: #BF2424;
  background-color: #F2EEE9;
  font-family: 'nunito',sans-serif;
  font-weight: 500;
  font-size: 2.4rem;
  width: 29rem;
  height: 5rem;
  padding: 1rem;
  border-radius: 3rem;
  cursor: pointer;
}
.siga button i{
  margin-right: 1.5rem;
}
.siga button:hover{
  font-size: 2.5rem;
}
/*siga nas redes end*/

/*footer star*/
.footer{
  background-image: url(background/footer\ background\ 2.png);
  background-size: cover;
  background-position: center center;
  background-color: #F2EEE9;
  

}
.footer .f-box{
  margin-top: 10rem;
  justify-content: space-around;
  margin-inline: 45rem;
  display: flex;

  gap: 1.5rem;
  padding: 0rem 1rem;

}
 .f-mainbox{
  
  display: flex;
  align-items: center;
  

}
 .f-content img{
  margin-left: -1rem;
  width: 32rem;
 
}

.f-box2{
  margin-top: 4.8rem;
}
.f-box2 h3{
  font-family: 'nunito',sans-serif;
  font-weight:500;
  font-size: 2.8rem;
  color:#590A27;
  padding: 1.5rem 0;


}

.f-box2 a{
  display: block;
  font-size: 1.8rem;
  font-family: 'nunito',sans-serif;
  color:#1b1722;
  padding: 1.5rem 0rem;
  

}
.f-box2 i{
  color: #bf2121;
  padding-right: 1.0rem;
}
 .f-box2 a:hover i{
  padding-right: 2rem;

}
.footer .share{
  padding: 1rem 0;
  text-align: center;
}

/*footer end*/




/* responsividade do site*/
@media (max-width:991px){
  html{
      font-size: 55%;
  }
  .header{
      padding: 1.3rem 3rem;
  }
 .home{
  background-image: url(background/background\ main\ 4.png);
 }
 .homeconteudo{
  width: 72vh;
 }
 .footer{
  background-image: url(background/footer\ background\ reponsive.png);
 }
  .footer .f-box{
    margin-inline: 5rem;
  }
  .footer .f-content img{
   margin-left: 4.5rem;
  }
 
}


@media (max-width:768px) {
  #menu-bar{
    display: inline-block;
  }
  
  
  .header .logo{
    margin-top: -6rem;
  }
  .header .logo img{
    width: 22rem;
  }
  
  .header .navbar{
    position: fixed;
      top: 13rem;
      right: -100%;
      width: 25rem;
      height: 30vh;
  }
 
  .header .navbar.active{
      right: -10rem;
      
  }
  .header .navbar a{
    font-family: 'nunito',sans-serif;
      display: block;
      font-size: 2rem;
      color: #f2f2f2;
      margin: 1.5rem;
      margin-block: 3rem;
  }
  .header .icon{
    margin-top: 7rem;
    margin-right: 5rem;
  
  }
  
   
  .home{
    background: url(background/backgroundresponsive\ 12.png);

  }
  .homeconteudo{
    margin-left: 0;
    width:58vh;
    text-align: center;


}
.siga{
  display: block;
  align-items: center;
  justify-content: center;
  margin-top: -1rem;
  margin-left: 12.5rem;
  margin-bottom: -2rem;
}
.siga div{
  margin-left: 14rem;
}
.siga button{
  margin-top: 2.5rem;
}
.footer{
  background-image: url(background/footer\ background\ reponsive.png);
}
.footer .f-box{
  
  margin-inline: 4rem;
}
.footer .f-content img{
  margin-left: 2.5rem;
}
}
@media (max-width:600px){
  html{
    font-size: 50%;
  }
  .header .logo{
    margin-top: 3rem;
  }
  .home{
    background-image: url(background/backgroundresponsive\ 11.png);
  }
  .homeconteudo{
    width: 52vh;
  }
  
  .siga{
    display: block;
    align-items: center;
    justify-content: center;
    margin-top: -1rem;
    margin-left: 9rem;
    margin-bottom: -4rem;
  }
  .siga div{
    margin-left: 13.5rem;
  }
  .siga button{
    font-size: 2.5rem;
    margin-top: 3rem;
    justify-content: center;
    
  }
.footer{
  background-image: url(background/footer\ background\ reponsive.png);
}
.f-content img{
  margin-left: 2rem;
}
}
/* iPhone 15, iPhone 15 Pro Max, iPhone 16 */
@media (max-width:460px){
  .header .logo{
    margin-top: -2rem;
    margin-left: -5rem;
  }
  .home{
    background-image: url(background/backgroundresponsive\ 16.png);
  }
  .icon i {
    font-size: 2rem;
    margin-right: 2rem;
    color: #F2EEE9;
    cursor: pointer;

}
  .siga{
    display: block;
    align-items: center;
    justify-content: center;
    margin-top: -1rem;
    margin-bottom: 2rem;
  }
  .siga p{
    text-align: center;
    margin-right: 8rem;
  }
  .siga div{
    margin-left: 3.5rem;
  }
  .footer{
    background-image: url(background/footer\ background\ reponsive.png);
  }
  
  .footer .f-content img{
    margin-left: -1.5rem;
    width: 26rem;

  }
  .footer .f-box2 h3{
    text-align: center;
  }

}
/* iPhone 13 Pro Max, iPhone 14 Pro ,Galaxy Note20 Ultra, Galaxy S24, Galaxy S24 ULTRA */
@media (max-width:430px){
  .header .logo{
    margin-top: -2rem;
    margin-left: -5rem;
  }
  .icon i {
    font-size: 2rem;
    margin-right: 2rem;
    color: #F2EEE9;
    cursor: pointer;

}
  .home{
    background-image: url(background/backgroundresponsive\ 16.png);
  }

.siga{
  display: block;
  align-items: center;
  justify-content: center;
  margin-top: -1rem;
  margin-bottom: 2rem;
}
.siga p{
  text-align: center;
  margin-right: 8rem;
}
.siga div{
  margin-left: 1.5rem;
}
.footer{
background-image: url(background/footer\ background\ reponsive.png);
}

.footer .f-content img{
  margin-left: -3rem;
  width: 24rem;

}

.footer .f-box2 a{
  font-size: 1.5rem;
} 
}
/* iPhone XR 2018, iPhone 11 PRO, iPhone 11 PRO MAX,  iPhone 12, iPhone 14, iPhone 14 Plus */

@media (max-width:414px){
  .header .logo{
    margin-top: -5rem;
    margin-left: -5rem;
   
  }
  .header .logo img{
    width: 20rem;
  }
  .icon i {
    font-size: 2rem;
    margin-right: 2rem;
    color: #F2EEE9;
    cursor: pointer;

}
  .home{
    background-image: url(background/backgroundresponsive\ 16.png);
  }
  .homeconteudo h2{
    font-size: 6rem;
  }
.homeconteudo p{
  font-size: 1.4rem;
}

 
.siga{
  display: block;
  align-items: center;
  justify-content: center;
  margin-top: -1rem;
  margin-bottom: 2rem;
}
.siga p{
  text-align: center;
  margin-right: 8rem;
}
.siga div{
  margin-left: 1rem;
}
.footer{
  background-image: url(background/footer\ background\ reponsive.png);
}

.footer .f-content img{
  margin-left: -3rem;
  width: 22rem;

}

.footer .f-box2 a{
  font-size: 1.5rem;
} 
}
/* Samsung S24 ULTRA*/
@media (max-width:384px){
  .siga div{
    margin-left: -1rem;
  }
}
/* iPhone X, iPhone 13 mini */
@media (max-width: 375px) {
    .header .logo{
    margin-top: -5rem;
    margin-left: -5rem;
   
  }
  .header .logo img{
    width: 20rem;
  }
  .icon i {
    font-size: 2rem;
    margin-right: 2rem;
    color: #F2EEE9;
    cursor: pointer;

}
  .home{
    background-image: url(background/backgroundresponsive\ 16.png);
  }
  .homeconteudo h2{
    font-size: 6rem;
  }
.homeconteudo p{
  font-size: 1.4rem;
}

 
.siga{
  display: block;
  align-items: center;
  justify-content: center;
  margin-top: -1rem;
  margin-bottom: 2rem;
}
.siga p{
  text-align: center;
  margin-right: 8rem;
}
.siga div{
  margin-left: -1.4rem;
}
.footer{
  background-image: url(background/footer\ background\ reponsive.png);
}

.footer .f-content img{
  margin-left: -3rem;
  width: 22rem;

}

.footer .f-box2 a{
  font-size: 1.5rem;
} 
}
/*iPhone 12 mini, Xiaomi 12, Samsung S22, Samsung S22+, Samsung S22+ ULTRA, Samsung S24, Samsung A12, Samsung S21 ULTRA, Samsung Z Flip3, Samsung S20, Xiaomi 11i*/
@media (max-width:360px){
  .header .logo{
    margin-top: -5rem;
    margin-left: -5rem;
   
  }
  .header .logo img{
    width: 20rem;
  }
  .icon i {
    font-size: 2rem;
    margin-right: 2rem;
    color: #F2EEE9;
    cursor: pointer;

}
  .home{
    background-image: url(background/backgroundresponsive\ 16.png);
  }
  .homeconteudo h2{
    font-size: 5rem;
  }
.homeconteudo p{
  font-size: 1.4rem;
}

 
.siga{
  display: block;
  align-items: center;
  justify-content: center;
  margin-top: -1rem;
  margin-bottom: 2rem;
}
.siga p{
  font-size: 2.8rem;
  text-align: center;
  margin-right: 8rem;
}
.siga div{
  margin-left: -2rem;
}
.footer{
  background-image: url(background/footer\ background\ reponsive.png);
}

.footer .f-content img{
  margin-left: -3rem;
  width: 21rem;

}

.footer .f-box2 a{
  font-size: 1.5rem;
} 
}
/*iPhone 5 , Iphone SE 16 */
@media (max-width:320px){

     .header .logo{
    margin-top: -6rem;
    margin-left: -10rem;
   
   
  }
  .header .logo img{
    width: 15rem;
   
  }
  .icon i {
    align-items: start;
    font-size: 1.5rem;
    margin-right: -6rem;
    color: #F2EEE9;
    cursor: pointer;
    

}
  .home{
    justify-content: center;
    background-image: url(background/backgroundresponsive\ 16.png);
    
  }
  .homeconteudo h2{
    font-size: 4rem;
  }
.homeconteudo p{
  font-size: 1.3rem;
}

 
.siga{
  display: block;
  align-items: center;
  justify-content: center;
  margin-top: -1rem;
  margin-bottom: 2rem;
}
.siga p{
  text-align: center;
  margin-right: 8rem;
}
.siga div{
  margin-left: -5rem;
}
.footer{
  background-image: url(background/footer\ background\ reponsive.png);
}

.footer .f-content img{
  margin-left: -4rem;
  width: 18rem;

}
.footer .f-box2 h3{
  font-size: 2.3rem;
}
.footer .f-box2 a{
  font-size: 1.2rem;
} 

}